@tailwind base;
@tailwind components;
@tailwind utilities;

.show-dropdown:hover {
  .show {
    display: block !important;
  }
}

.text-align-straight {
  writing-mode: tb;
  rotate: 180deg;
}

@media (max-width: 576px) {
  .text-align-straight {
    writing-mode: horizontal-tb !important;
    rotate: none !important;
  }
}
